[submodule "rossmann-model-dso"]
	path = rossmann-model-dso
	url = https://github.com/douglasaturnino/rossmann-model-dso
[submodule "rossmann-dso-bot"]
	path = rossmann-dso-bot
	url = https://git.heroku.com/rossmann-dso-bot.git
