[submodule "rossmann-model-dso"]
	path = rossmann-model-dso
	url = https://git.heroku.com/rossmann-model-dso.git
[submodule "rossmann-dso-bot"]
	path = rossmann-dso-bot
	url = https://git.heroku.com/rossmann-dso-bot.git
